@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r4r7e9');
  src:  url('fonts/icomoon.eot?r4r7e9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r4r7e9') format('truetype'),
    url('fonts/icomoon.woff?r4r7e9') format('woff'),
    url('fonts/icomoon.svg?r4r7e9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrow-left:before {
  content: "\e908";
}
.ico-bookmark:before {
  content: "\e906";
}
.ico-heart:before {
  content: "\e907";
}
.ico-newspaper:before {
  content: "\e900";
}
.ico-gear:before {
  content: "\e902";
}
.ico-comment:before {
  content: "\e903";
}
.ico-music:before {
  content: "\e904";
}
.ico-user:before {
  content: "\e905";
}
.ico-logo:before {
  content: "\e901";
}
